[user]
	email = jsem@dominikblaha.cz
        name = Dominik Bláha
[fetch]
	prune = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
